# Dependencias
node_modules/

# Reportes y resultados
playwright-report/
allure-results/
allure-report/
test-results/

# Evidencias
screenshots/
videos/

# Logs
*.log

# VS Code (opcional)
.vscode/settings.json

# Forzar tracking de docs y scripts
!docs/
!docs/**
!docs/legacy/**
!scripts/
!scripts/**
!scripts/limpieza/
!scripts/limpieza/**
!reports/
!reports/**
!docs/scripts/
!docs/scripts/**
!docs/scripts/reportes/
!docs/scripts/reportes/**
!docs/scripts/utilidades/
!docs/scripts/utilidades/**
!docs/scripts/limpieza/
!docs/scripts/limpieza/**

