# Dependencias
node_modules/

# Reportes y resultados
playwright-report/
allure-results/
allure-report/
test-results/

# Evidencias
screenshots/
videos/

# Logs
*.log

# VS Code (opcional)
.vscode/settings.json

